// .eslintrc file (no extension)
{
  "extends": ["react-app"],
  "rules": {
    "no-unused-vars": "off"
  },

  "overrides": [
    {
      "files": [
        "**/*.test.js"
      ],
      "env": {
        "jest/globals": true
      },
      "plugins": ["jest"],
      "rules": {
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
      }
    }
  ]
}
