.footer {
  background-color: #0099ff;
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

.footer .fa-heart {
  color: red;
  margin: 0.5rem;
}

.footer a {
  text-decoration: underline;
  margin-left: 0.5rem;
}
